* {
  margin: 0;
  padding: 0;
}
body {
  font-family: suisse_intl, sans-serif;
}
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 1264px;
  height: 384px;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  margin: auto;
  margin-top: 40px;
}

.slide {
  position: absolute;
  transition: transform 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.slide.active {
  transform: translateX(0);
  z-index: 2; 
}

.slide.prev {
  transform: translateX(-100%);
}

.slide.next {
  transform: translateX(100%);
}
.slide1 {
  background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/bltdcf650bbe1d7967a/657b14417537fe1e3623c8bc/Powerpuff-Girls-Dunks-Release-Day_Primary_Desktop_EN.jpg?quality=75&amp;auto=webp&amp;format=pjpg&amp;dpr=2&amp;width=1246");
}
.slide2 {
  background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt686c0cf8386305da/6571f9ff64c9dbaebb36ade2/Supreme_FW23_Week_16Primary_Desktop.jpg?quality=75&amp;auto=webp&amp;format=pjpg&amp;dpr=2&amp;width=1246");
}
.slide3 {
  background-image: url("https://images-cs.stockx.com/v3/assets/blt818b0c67cf450811/blt0112d47a22daa824/656de84d1512fe82bb7468b6/Modern_Heirlooms_-_Designer_JewelryPrimary_Desktop.jpg?quality=75&amp;auto=webp&amp;format=pjpg&amp;dpr=2&amp;width=1246");
}
.slide.move-out-left {
  transform: translateX(-100%);
}

.slide.move-out-right {
  transform: translateX(100%);
}
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrow-left {
  border-width: 30px;
  border-radius: 50%;
  border-color: #0f0f0f;
  left: 0;
  margin-left: 30px;
  z-index: 3;

}

#arrow-right {
  border-width: 30px;
  border-radius: 50%;
  border-color: #0f0f0f;
  right: 0;
  margin-right: 30px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-solid.fa-chevron-left {
  color: white;
}
.fa-solid.fa-chevron-right {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-top: 40px;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding-bottom: 40px;
}
.nav-bar a {
  padding-right: 20px;
  text-decoration: none;
  color: #242424;
  font-size: 16px;
}
input {
  width: 60vw;
  height: 40px;
  margin-right: 40px;
}

.stockx-logo {
  padding-right: 40px;
  cursor: pointer;
}
i {
  margin-right: 10px;
}
.stockx-blackx {
  margin-right: 10px;
}
.fa-regular.fa-bell {
  cursor: pointer;
}
.search-container {
  position: relative;
}

.search-form {
  display: flex;
}

.search-input {
  padding-right: 30px;
  flex: 1;
}
input::placeholder {
  font-size: 15px;
  font-weight: 600;
}
.search-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}
.login-btn,
.signup-btn {
  border: 1px solid #393939;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.login-btn {
  margin-right: 10px;
  background-color: transparent;
}
.signup-btn {
  background-color: #393939;
  color: #ffff;
}
.fa-regular.fa-bell {
  padding-right: 15px;
}

@media screen and (max-width: 1920px) {
  .nav-bar {
    padding-left: 20px;
  }

  input {
    width: 50vw;
  }
}
.second-nav-bar {
  background-color: #f4f3f1;
  display: flex;
  justify-content: center;
}
.second-nav-bar a {
  padding: 20px;
  text-decoration: none;
  color: #242424;
  font-size: 16px;
  font-weight: 600;
}
.image-banner {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-banner img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
